@font-face {
    font-family: receiptRegular;
    src: url(../assets/fonts/Receiptional_Receipt_Regular.ttf);
}

header {
    background-image: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url("../assets/img/header.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

.button {
    border-width: 0;
}

.input-medida input{
    max-width: 100px;
    max-height: 40px;
    border-radius: 10px;
    border:rgba(211, 204, 202, 0.65) solid 2px;
}

#anchosVarilla {
    min-height: 130px;
    min-width: 100px;
}

#marcoForm {
    color: rgb(255, 232, 214);
    min-height: 100vh;
    background-image: linear-gradient(rgba(109, 67, 52, 0.644), rgba(47, 23, 15, 0.65)), url("../assets/img/main.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#results {
    min-height: 100vh;
    background-image: linear-gradient(rgba(211, 204, 202, 0.65), rgba(83, 72, 72, 0.65)), url("../assets/img/results-bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#results img{
    width: unset;
}

#receipt {
    font-family: receiptRegular;
    background-color: white;
    width: 300px;
    display: inline-block;

    border:rgba(51, 49, 48, 0.65) solid 4px;
    border-bottom-style: dotted;
    border-bottom-width: 6px;
    border-top-right-radius: 30px;
}

#receipt h5{
    font-family: receiptRegular;
}

#contactForm {
    background: radial-gradient(circle, rgba(255, 255, 255, 0.863) 0%, rgba(109, 67, 52, 0.411) 100%),url("../assets/img/contact-bg.jpg");
    background-position: center;
    background-size:cover;
    min-height: 93vh;
}

#contactForm form {
    max-width: 400px;
}

.footer{
    min-height: 7vh;
}

.invalid{
    outline: rgb(221, 81, 71) solid 5px;
}